node_modules/
dist/
.env
.scannerwork/
uploads
config/firebase-service-account.json
scannerwork/
node_modules/
dist/
.env
*.pem
.DS_Store
uploads/*
!uploads/.gitkeep
config/firebase-service-account.json
